.bottom {
    background-color: $dark-blue;
    padding: 2.5rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    color: $white;
    text-align: center;
    position: relative;

    &__meter {
        margin: 1rem 0 3rem 0;
        background-color: $very-dark-blue;
        height: 1rem;
        border-radius: 99rem;

        position: relative;
        display: grid;
        gap: 1.5rem;
        grid-template-areas: "a a" "b c";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);


        &-length {
            grid-area: a;

            position: absolute;
            left: 0.15rem;
            transform: translateY(0.1rem);

            right: calc(100% - 70%);
            background: $gradient;
            height: 0.8rem;
            border-radius: 99rem;

            &::after {
                content: "";
                position: absolute;
                right: 3px;
                top: 50%;
                transform: translateY(-50%);

                padding: 0.35rem;
                border-radius: 50%;
                background-color: $white;
            }
        }
        .start {
            grid-area: b;
            justify-self: flex-start;
            font-weight: bold;
        }

        .end {
            grid-area: c;
            justify-self: flex-end;
            font-weight: bold;
        }

    }
    &__left {
        background-color: $white;
        border-radius: 0.5rem;
        color: $very-dark-blue;
        padding: 1rem;

        position: absolute;
        left: 50%;
        transform: translate(-50%);

        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        width: max-content;

        span:first-child {
            font-size: 2.2rem;
            font-weight: bold;
        }

        span:last-child {
            color: $grayish-blue;
            font-weight: bold;
        }
    }
}

@media (min-width: 375px) {
    .bottom {
        text-align: initial;

        &__meter {
            margin: 1rem 0;
        }

        &__left {
            border-radius: 0.5rem 0.5rem 0 0.5rem;
            padding: 0.5rem;

            left: 66%;
            bottom: 80%;
            transform: none;

            &::after {
                content: "";
                position: absolute;
                top: 100%;
                right: 0;

                height: 0;
                width: 0;

                border-left: 1rem solid transparent;
                border-top: 1.6rem solid $white;
            }
        }
    }
}
