html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    font-size: 0.875rem;
    font-family: 'Raleway', sans-serif;

    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}

.container {
    max-width: 1440px;
    width: 80%;
    margin: 0 auto;
}
